<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Sunlight{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <!-- tailwind -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
      <link rel="" href="">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!--logo  -->
    <div class='fixed top-0 right-0 z-10 left-0 px-10 shadow bg-white border-b border-slate-300'>
       <div class="w-full flex items-center   px-6">
        <a href="/" class='w-[100px] block'>
            <img src="{% static 'images/blogLogo.png' %}" alt="" class="w-full h-full">
        </a>
        <!-- search -->
        <div class="w-[45rem] mx-auto relative z-40">
          <input type="text" class="rounded-sm px-3 search    text-sm py-2  border border-slate-300 w-full outline-none" placeholder="Tìm kiếm blog ...">
          <div class="absolute hidden  search_item  bg-white flex flex-col shadow-md top-full left-0 right-0 p-2 w-full">
            <p class=" w-full py-1 px-2">tìm kiếm...</p>
            <a href="" class="search_display w-full py-1 px-2 block hover:bg-gray-100"></a>
          </div>
        </div>
          <!-- loggin -->
        {% if  user %}
         <div class="relative mr-20">
          <a href="/addpost" class="addPost  w-8 block cursor-pointer ">
            <img src="{% static 'images/addPost.png' %}" class="w-full h-full" alt="">
          </a>
          <div class=" addBlog absolute right-0  rounded-sm bg-white shadow top-full">
            <a href="/addpost" id="Addpost"  class="py-1.5 hover:bg-slate-100 whitespace-nowrap px-5 text-sm">+ Thêm blog </a>
            <a href="/"  class="py-1.5 hover:bg-slate-100 whitespace-nowrap px-5 text-sm">blog của tôi </a>
          </div>
         </div>
        {% endif %}
        {% if  not user %}
          {% if request.path == '/login/' %}
            <a href="{% url 'register' %}" class="text-sm py-4 rounded-sm px-4">
              <p class="border-b-2 border-red-300 hover:border-red-300 py-2"> Đăng kí</p>
            </a>
          
            {% else %}
            <a href="{% url 'register' %}" class="text-sm rounded-sm px-4">
              
              <p class="border-b-2 border-white hover:border-red-300 py-2"> Đăng kí</p>
            </a>
          {% endif%}
        {% endif %}

        {% if user %}
            <p class="px-2 text-sm relative logged_in"> {{ user.username }}</p>
            {% if user.username %}
            <a href="{% url 'logout' %}" class="absolute top-12 right-12 logged_in_item bg-white px-6 py-1.5 shadow whitespace-nowrap">Đăng xuất</a>
          {% endif %}
          
        {% else %}
          {% if request.path == '/register/' %}
            <a href="{% url 'login' %}" class="text-sm py-4 rounded-sm px-4">
              <p class="border-b-2 border-red-300 hover:border-red-300 py-2"> Đăng nhập</p>
            </a>
            {% else %}
            <a href="{% url 'login' %}" class="text-sm rounded-sm px-4">
              
              <p class="border-b-2 border-white hover:border-red-300 py-2"> Đăng nhập</p>
            </a>
          {% endif%}
        {% endif %}
          
         

        </nav>
       </div>    
       <div class="w-full text-sm flex items-center  justify-between">
          <div class="flex items-center">
            {% if request.path == '/' %}
          <a href="/" class="px-2   border-white ">
            <p class="border-b-2 py-1  hover:border-red-300 block border-red-300 ">Trang chủ</p>
          </a>
          {% else %}
          <a href="/" class="px-2   border-white ">
            <p class="border-b-2 py-1  hover:border-red-300 border-white ">Trang chủ</p>
          </a>
          {% endif %}
          
          <div class="relative cateProd cursor-pointer  border-b-2 hover:border-red-300 border-white">
            Danh mục 
              <div class="absolute top-full w-24 childCateProd right-0  bg-white  py-2 rounded-sm shadow-lg ">
                <a href="/category/du lịch" class="px-2 py-1 inline-block whitespace-nowrap hover:bg-red-50 text-sm w-full">du lịch</a>
                <a href="/category/thức ăn" class="px-2 py-1 inline-block whitespace-nowrap hover:bg-red-50 text-sm w-full ">thức ăn</a>
                <a href="/category/công việc" class="px-2 py-1 inline-block whitespace-nowrap hover:bg-red-50 text-sm w-full ">công việc</a>
                <a href="/category/giải trí" class="px-2 py-1 inline-block whitespace-nowrap hover:bg-red-50 text-sm w-full ">giải trí</a>
              </div>
          </div>
          <a href="/category/du lịch" class="px-4 border-b-2 hover:border-red-300 border-white py-1">Mới nhất </a>
          <a href="/category/thức ăn" class="px-4 border-b-2 hover:border-red-300 border-white py-1">Cũ nhất</a>
          </div>
        
       </div>
    </div>
            {% comment %} body {% endcomment %}
    <div class='w-full  pb-20'>
        {% block content %}{% endblock %}
    </div>
    {% comment %} footer {% endcomment %}
</body>
<script >
  // chỏ tới thẻ input search khi chỏ vào thẻ input hoặc đang gõ thì hiện ô tìm kiếm
  document.querySelector('.search').addEventListener('input', (e)=>{
    document.querySelector('.search_item').style.display = 'block'

    document.querySelector('.search_display').innerHTML = e.target.value
  })
  document.querySelector('.search').addEventListener('focus', (e)=>{
    document.querySelector('.search_item').style.display = 'block'
 
    document.querySelector('.search_display').innerHTML = e.target.value
  })
  document.querySelector('.search_item').addEventListener('click', (e)=>{
    e.stopPropagation()
  })
  document.querySelector('.search').addEventListener('blur', ()=>{
    document.querySelector('.search_item').style.display = 'none'

  })
</script>
</html>