{% extends "base.html" %} {% block title %} home page {% endblock %}
{% block content %}
{% load static %}
<!-- body -->
<div class="w-full pt-[5rem]">
    <div class="w-full  overflow-hidden relative">
        <div class=" flex h-[35rem] overflow-x-auto whitespace-nowrap items-center  w-full banner-slide-container transition-transform east-in-out">
            {% for object in images %}
            <img src="{{ object.image.url }}" class=" w-full flex-1  h-full banner-slide-img rounded-sm shadow" alt="banner">
        {% endfor %}
        </div>
        
    </div>
    <a href="{% url 'addpost' %}" class="text-blue-700 text-base font-bold px-10 my-10 block"> -- tới trang tạo blog----</a>
    <h1 class="flex justify-center font-bold text-gray-600 text-4xl my-4">Welcome to our Blog</h1>
   {% if posts %} 
    <ul class="flex items-center px-10 flex-wrap">
    {% for post in posts %}
       <div class="w-1/4 overflow-hidden  h-[25rem] px-2 py-2">
         <a href="{% url 'topic' post.id %}" class="h-full w-full">
          <div class="rounded-sm w-full  h-full bg-white shadow ">
            <img src="{{ post.image.url }}" class="w-full h-1/2" alt="">
            <div class="px-4 py-1  h-full ">
              <p class="text-base font-bold whitespace-nowrap overflow-hidden text-gray-700">Chủ đề: {{ post.title }}</p>
              <p class="leading-5 text-sm h-[6.5rem] overflow-hidden text-ellipsis">- {{ post.content }}</p>
             <div class="flex justify-between">
                <form method="post" action="{% url 'delete_post' post.id %}" class="cursor-pointer">
                    {% csrf_token %}
                    <input type="submit" value="xoá" class="text-red-500 cursor-pointer">
                </form>
                <a href='/update/{{post.id}}' class=" text-red-500 px-4">sửa</a>
             </div>
           
                <time class="italic  text-[13.5px] flex items-end justify-end">{{post.date}}</time>
         
            </div>
          </div>
        </a>
       </div>
    {% endfor %}
    </ul>
   {% else %} 
   <div class="text-4xl ml-10 mt-20 ">  Chưa có Hãy thêm vào vài blog cho bản thân nào. </div>
   {% endif %} 

    
</div>
<script >
    // liên tục thay đổi ảnh banner sau 2s
    var currentIndex = 0;
var images = document.querySelectorAll(".banner-slide-img");
setInterval(function () {
  currentIndex = (currentIndex + 1) % images.length;
  images.forEach(function (img, index) {
    if (index === currentIndex) {
      img.style.display = "inline-block"; // Hiển thị hình ảnh hiện tại
     
    } else {
      img.style.display = "none"; // Ẩn các hình ảnh khác
     
    }
  });
}, 2000); // Đổi hình ảnh mỗi 1 giây

</script>
{%endblock%}