{% extends "base.html" %} {% block title %} home page {% endblock %}
{% block content %}
{% load static %}
<div class="px-6 pt-[8rem]">
<h2 class="text-lg font-bold">sản phẩm Nike</h2>
<div class="nike_imgs flex items-center flex-wrap">
    <a href="/product" class="w-1/4   px-6 py-4">
                   <div class="bg-white  relative hover:shadow-md rounded-md transition duration-300 border border-slate-300">
                     <img src="{% static '/images/adidas/1.jpg' %}" class="h-[20rem]  w-full" alt="">
                    <label  class="absolute top-1 left-1 px-4  text-sm py-0.5 rounded-sm bg-green-500 text-white">Mới</label>
                    <button  class="absolute top-2 right-2">
                        <img src="{% static 'images/icons/noHeart.png' %}" class="w-6 h-6" alt="">
                    </button>
                    <div class="px-4">
                        <nav class="flex justify-between px-2 py-2">
                            <p class="text-sm">6 size</p>
                            <p class="text-sm">Màu sắc</p>
                        </nav>
                            <p class="">Kickboxing Sneakers</p>
                            <p class="font-semibold text-red-500 py-2">375,000 <sup class="font-normal">₫</sup></p>
                    </div>
                   </div>
                </a>

 <a href="/product" class="w-1/4   px-6 py-4">
                   <div class="bg-white  relative hover:shadow-md rounded-md transition duration-300 border border-slate-300">
                     <img src="{% static '/images/adidas/2.jpg' %}" class="h-[20rem]  w-full" alt="">
                    <label  class="absolute top-1 left-1 px-4  text-sm py-0.5 rounded-sm bg-green-500 text-white">Mới</label>
                    <button  class="absolute top-2 right-2">
                        <img src="{% static 'images/icons/noHeart.png' %}" class="w-6 h-6" alt="">
                    </button>
                    <div class="px-4">
                        <nav class="flex justify-between px-2 py-2">
                            <p class="text-sm">6 size</p>
                            <p class="text-sm">Màu sắc</p>
                        </nav>
                            <p class="">Kickboxing Sneakers</p>
                            <p class="font-semibold text-red-500 py-2">375,000 <sup class="font-normal">₫</sup></p>
                    </div>
                   </div>
                </a>

                 <a href="/product" class="w-1/4   px-6 py-4">
                   <div class="bg-white  relative hover:shadow-md rounded-md transition duration-300 border border-slate-300">
                     <img src="{% static '/images/adidas/3.jpg' %}" class="h-[20rem]  w-full" alt="">
                    <label  class="absolute top-1 left-1 px-4  text-sm py-0.5 rounded-sm bg-green-500 text-white">Mới</label>
                    <button  class="absolute top-2 right-2">
                        <img src="{% static 'images/icons/noHeart.png' %}" class="w-6 h-6" alt="">
                    </button>
                    <div class="px-4">
                        <nav class="flex justify-between px-2 py-2">
                            <p class="text-sm">1 size</p>
                            <p class="text-sm">Màu sắc</p>
                        </nav>
                            <p class="">Kickboxing Sneakers</p>
                            <p class="font-semibold text-red-500 py-2">375,000 <sup class="font-normal">₫</sup></p>
                    </div>
                   </div>
                </a>

                 <a href="/product" class="w-1/4   px-6 py-4">
                   <div class="bg-white  relative hover:shadow-md rounded-md transition duration-300 border border-slate-300">
                     <img src="{% static '/images/adidas/4.jpg' %}" class="h-[20rem]  w-full" alt="">
                    <label  class="absolute top-1 left-1 px-4  text-sm py-0.5 rounded-sm bg-green-500 text-white">Mới</label>
                    <button  class="absolute top-2 right-2">
                        <img src="{% static 'images/icons/noHeart.png' %}" class="w-6 h-6" alt="">
                    </button>
                    <div class="px-4">
                        <nav class="flex justify-between px-2 py-2">
                            <p class="text-sm">6 size</p>
                            <p class="text-sm">Màu sắc</p>
                        </nav>
                            <p class="">Kickboxing Sneakers</p>
                            <p class="font-semibold text-red-500 py-2">375,000 <sup class="font-normal">₫</sup></p>
                    </div>
                   </div>
                </a>

                 <a href="/product" class="w-1/4   px-6 py-4">
                   <div class="bg-white  relative hover:shadow-md rounded-md transition duration-300 border border-slate-300">
                     <img src="{% static '/images/adidas/5.jpg' %}" class="h-[20rem]  w-full" alt="">
                    <label  class="absolute top-1 left-1 px-4  text-sm py-0.5 rounded-sm bg-green-500 text-white">Mới</label>
                    <button  class="absolute top-2 right-2">
                        <img src="{% static 'images/icons/noHeart.png' %}" class="w-6 h-6" alt="">
                    </button>
                    <div class="px-4">
                        <nav class="flex justify-between px-2 py-2">
                            <p class="text-sm">6 size</p>
                            <p class="text-sm">Màu sắc</p>
                        </nav>
                            <p class="">Kickboxing Sneakers</p>
                            <p class="font-semibold text-red-500 py-2">375,000 <sup class="font-normal">₫</sup></p>
                    </div>
                   </div>
                </a>

</div>
</div>

{%endblock%}