{% extends "base.html" %} {% block title %}Topic {% endblock %}

{% block content %}
   <div class="pt-10 w-full  mt-[5rem] h-full ">
     <div class="flex justify-between px-16 h-full">
       <div class="rounded-sm w-full h-full bg-white shadow">
            {% if current_user == post.author %}
                  <div class="flex justify-between p-10 text-3xl font-bold uppercase">
                    <a href='/update/{{post.id}}' class=" text-red-500 px-4">sửa</a>
                    <form method="post" action="{% url 'delete_post' post.id %}" class="cursor-pointer uppercase">
                        {% csrf_token %}
                        <input type="submit" value="X" class="text-red-500 cursor-pointer">
                    </form>
                </div>
            {% endif %}
           <h2 class="text-6xl uppercase text-gray-600 font-bold flex justify-center pb-16 pt-6">{{ post.title }}</h2>
            <img src="{{ post.image.url }}" class="w-[85%] mx-auto h-[40rem] " alt="">
            
            <div class="px-10  py-1  h-full py-10">
              <p class="">- {{ post.content }}</p>
              {% if post.citation_url %}
              <p class="text-black text-sm pt-6 flex items-center">Trích dẫn từ nguồn:  
                <a href="{{post.citation_url}}" class=" hover:underline px-1 text-blue-600 ">{{post.citation_url}}
                </a>
              </p>
              {%endif%}
               <div class="flex items-center justify-between pt-10 leading-4">
                  <p class="italic  text-[13.5px] flex items-end justify-end ">Tác giả: {{post.author}}</p>
                    <time class="italic  text-[13.5px] flex items-end justify-end ">{{post.created_at}}</time>
              </div>
              <div class="flex justify-between">
                <div class="flex items-cetner mt-4">Chia sẽ
                  {% load custom_tags %}
             
                <a target="_blank" href="{% facebook_share_url 'http://127.0.0.1:8000/topic/8/' %}" class="text-blue-600 text-2xl px-1.5">
                  <i class="fa-brands fa-facebook"></i></a>
              <a target="_blank" href="{% twitter_share_url 'http://127.0.0.1:8000/topic/8/' %}" class="text-blue-600 text-2xl px-1.5">
                  <i class="fa-brands fa-twitch"></i></a>
              <a target="_blank" href="{% linkedin_share_url 'http://127.0.0.1:8000/topic/8/' %}" class="text-blue-600 text-2xl px-1.5">
                  <i class="fa-brands fa-linkedin"></i></a>
              </div>
              
              <a href="{% url 'addpost' post.id %}" class="flex items-center">
                <p class="px-2 text-xl"><i class="fa-solid fa-quote-right"></i></p>
                Trích nguồn
              </a>
              </div>
            </div>
          </div>

    
        </div>
        <!----------------------------- POST COMMENT----------------- -->
      <div class="px-16 mb-6">
        <div class="rounded-sm w-full h-full  bg-white shadow p-8 pb-12 mt-10">
        <h2 class="text-4xl text-gray-600 font-bold ">Bình luận</h2>
        <form method="POST" enctype="multipart/form-data" action="{% url 'comment' post.id %}" autocomplete="off"  class=" my-4">
            {% csrf_token %}
            <div class="flex items-center">
              <div class="flex ">
                 <img src="{{ profile.image.url|default:'/static/images/user-icon.png' }}" class=" w-10 h-10 rounded-full" alt="">
                 <div>
                  
                   <p class="px-2  italic leading-1 text-[13.5px] whitespace-nowrap mt-2">
                    {% if current_user.id == profile.id %}
                    {{profile.defaultName  }}
                    {% else %}{{current_user.username}}
                    {% endif %}
                     
                  </p>
                 
                 </div>

              </div>
              {{comment_temp.comment_content}}
            </div>
            <!-- nút bình luận -->
            <input type="submit" value=" bình luận" class="cursor-pointer px-4 py-1.5 rounded-md text-white bg-red-500 hover:bg-red-600 mt-4 float-right"/>
        </form>
        <!---------------------- Comment-------- -->
        {% if Post_Comments %}
          {% for comment in Post_Comments %}
           {% if comment.topic_id == post.id  %}
               <div class=" my-2 Post_Comment">
                    <div  class="flex ">
                      <a href="#">
                        {% if comment.user_id == profile.id%}
                        <img src="{{profile.image.url}}" class="mr-2 w-8 h-8 shadow-lg border border-gray-200 rounded-full" alt="">
                        {%else%}
                        <img src="{{comment.image.url}}" class="mr-2 w-8 h-8 shadow-lg border border-gray-200 rounded-full" alt="">
                        {%endif%}
                    </a>
                      <div class="flex items-baseline">
                        {% if comment.user_id == profile.id%}
                        <p  class=" font-semibold italic text-gray-800  leading-1 comment_author  text-[16px] " >{{profile.defaultName}}</p>
                        {%else%}
                        <p  class=" font-semibold italic text-gray-800  leading-1 comment_author  text-[16px] " >{{comment.username}}</p>
                        {%endif%}
                  
                        <time class="italic  whitespace-norwrap  text-gray-800  text-[13.5px] flex items-end justify-end ml-2 ">{{post.created_at}}</time>
                      </div>
                    </div>
                    <p class="text-base pl-11 leading-4  text-gray-800 text-wrap overflow-hidden">{{comment.comment_content}}</p>
                    <div class="flex justify-between   pl-8">
                      <div class="">
                        <div  class="flex items-center">
                              <div   class="like px-2 text-sm w-10 flex items-center">
                                <p class="pr-2 pt-1">1</p>
                                <button type="submit"  class="like-btn" data-post-id="{{ post.id }}" data-comment-id="{{ comment.id }}">
                                  <div class="w-[1.5rem] pl-1">
                                    <img src="/static/images/like.png" alt="" class="w-full block text-base">
                                  </div>
                                </button>
                              </div>
                              <label for="CMT_child" class="ml-8 pt-1.5 hover:text-red-600 text-[14px]  reply-btn cursor-pointer"  onclick="handleShowReply(this)">phản hồi</label>
                        </div>
                          {% if comment.reply_count > 0 %}
                          <button class="text-blue-500 text-[14.5px] my-1 mx-6 font-semibold total_reply" onclick="handleShowComment(this, '{{comment.id}}')">
                            {{comment.reply_count}}  bình luận
                          </button>
                          {% endif %}
                          
                        
                      </div>
                        <time class="italic  text-[13.5px] flex items-end justify-end ">{{comment.created_at}}</time>
                    </div>
                    <!-- -----------------------repty form------------------ -->
                    <div class="reply-form pt-0.5 hidden border-t border-gray-300 ">
                     
                        <button   class="outline-none hiddenBtn_cmt text-xl text-gray-600 font-bold flex justify-end ml-auto pr-4 " onclick="handleCloseReply(this)">X</button>
                        <form method="POST" autocomplete="off" enctype="multipart/form-data"  action="{% url 'comment_child' post.id comment.id %}" class=" pb-8 pl-10 ">
                          {% csrf_token %}
                          <input type="hidden" class="px-3 italic  leading-1 comment_author  text-[15px] " name='comment_author' value="{{comment.author}}" />

                          <div class="flex items-center">
                            <div class="flex ">
                              {% if comment.user_id == profile.id %}
                              <img src="{{ profile.image.url|default:'/static/images/user-icon.png' }}" class="mr-2 w-6 h-6 shadow-lg border border-gray-200 rounded-full" alt="">
                              {% else %}
                              <img src="/static/images/user-icon.png" class="w-8 h-8 rounded-full" alt="">
                              {% endif %}
                              <div>
                                <p class="px-2 whitespace-nowrap italic leading-1 text-[13.5px] whitespace-nowrap">
                                  {% if current_user.id == profile.id %}{{profile.defaultName  }}{% else %}{{current_user.username}}{% endif %}</p>
                                <p class="px-2 italic  leading-1  text-[13.5px] ">#321</p>
                              </div>
                            </div>
                            {{commentChild_temp.comment_content}}
                          </div>
                          <input type="submit" value=" bình luận" class=" cursor-pointer px-3 text-sm py-1.5 rounded-md text-white bg-red-500 hover:bg-red-600 mt-1 float-right"/>
                        </form>
                    
                    </div>
            <!-- ---------------------comment Child--------------------- -->
                <div class="comment_children hidden pl-11"> 
                
                </div>
                </div>
           {% endif %}

          {% endfor %}
          <!------------------------ commnet child----------------------- -->
            <div class="hidden getComment_child">
              {% for comment_child in Post_CommentChild %} 
                    
                      <div class="comment_{{comment_child.commentChild_id}}">
                      <div  class="flex "> 
                        <a href="#">
                        {% if comment_child.user_id == profile.id  %}
                        <img src="{{ profile.image.url}}" class="mr-2 w-6 h-6 shadow-lg border border-gray-200 rounded-full" alt="">
                        {% else %}
                        <img src="{{comment_child.image.url }}" class="mr-2 w-6 h-6 shadow-lg border border-gray-200 rounded-full" alt="">
                        {% endif%}
                        </a> 
                        <div class="flex items-baseline"> 
                          
                          <p  class="px-3 italic  leading-1  comment_author  text-[12px] font-semibold " >
                            {% if comment_child.user_id == profile.id  %}
                            {{profile.defaultName}}
                            {%else%}
                            {{comment_child.username}}
                            {%endif%}
                          </p> 
                            <time class="italic  whitespace-norwrap font-normal  text-[13.5px] flex items-end justify-end ">{{post.created_at}}</time> </div> </div>
                          <p class="text-base pl-11 text-wrap overflow-hidden flex flex-wrap my-0 py-0">
                            {% if comment_child.tag != ''%}@
                            {{ comment_child.tag }}
                            {% endif %}
                              {{comment_child.comment_content}}</p>
                            <div class="flex justify-between  py-2 pl-8"> 
                              <div  class="flex items-center"> 
                              <div   class="px-2 text-sm w-10 flex items-center"> 
                                <p class="pr-2 pt-1">1</p> <button type="submit" class="likeChild-btn" >
                                  <div class="w-[1.5rem] pl-1"> 
                                    <img src="/static/images/like.png" alt="" class="w-full block text-base">
                                  </div>
                                  </button> 
                                  </div> 
                                  <label class="cursor-pointer ml-8 pt-1.5 hover:text-red-600 text-[14px]  reply-btn" form="CMT_child" onclick="handleShowReply(this)">phản hồi</label> </div> <time class="italic  text-[13.5px] flex items-end justify-end ">{{comment_child.created_at}}</time> 
                                </div>
                                <!-- -----------------------repty form------------------ --> 
                                <div class="reply-form pt-0.5 hidden border-t border-gray-300 "> 
                                  <button   class="outline-none hiddenBtn_cmt text-xl text-gray-600 font-bold flex justify-end ml-auto pr-4 " onclick="handleCloseReply(this)">X</button> 
                                  <form method="POST" autocomplete="off" enctype="multipart/form-data"  action="{% url 'comment_tag' post.id comment_child.commentChild_id comment_child.user_id comment_child.username %}" class=" pb-8 pl-10 "> 
                                    {% csrf_token %} 
                                    <input type="hidden" class="px-3 italic  leading-1 comment_author  text-[15px] " name='comment_author' value="{{comment_child.username}}" /> 
                                    <div class="flex items-center"> 
                                      <div class="flex "> 
                                        <img src="{{ profile.image.url|default:'/static/images/user-icon.png' }}" class="mr-2 w-6 h-6 shadow-lg border border-gray-200 rounded-full" alt="">
                                        <div> <p class="px-2 whitespace-nowrap italic leading-1 text-[13.5px] ">
                                          {% if current_user.id == profile.id %}
                                          {{profile.defaultName  }}
                                          {% else %}
                                          {{current_user.username}}
                                          {% endif %}</p> <p class="px-2 italic  leading-1  text-[13.5px] ">#321</p>
                                        </div> </div> {{commentChild_temp.comment_content}} </div> 
                                        <input type="submit" value=" bình luận" class=" cursor-pointer px-3 text-sm py-1.5 rounded-md text-white bg-red-500 hover:bg-red-600 mt-1 float-right"/> 
                                  </form> 
                                </div>

                      </div>
                      {%  endfor %} 
            </div>
      {% else %}
         <h2 class="text-2xl flex items-center justify-center text-gray-500">Chưa có bình luận nào.</h2>
      
      {% endif %} 
      
        
      </div>
      </div>
  </div>
<script >
   
  
  var currentUser = "{{ current_user|escapejs }}";
  var comment_inside =  document.querySelector('.comment_inside')
  if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }

    // handle Show Reply form
    const handleShowReply = (e) => {
      
      if(currentUser){
        const Post_Comment = e.parentNode.parentNode.parentNode.parentNode
        const reply_form = Post_Comment.querySelector('.reply-form')
        reply_form.style.display = "block"
      }
      else{
        window.location.href = "/login"
      }
    }
    const handleShowComment = (e,comment_id) => {
      let commentid = parseInt((comment_id))
      let reply_form = e.parentNode.parentNode.parentNode.querySelector('.comment_children');
      let getComment_child = document.querySelector('.getComment_child')
      let CommentCurrent = getComment_child.querySelectorAll(`.comment_${commentid}`)
      let CommentInstance = []
      CommentCurrent.forEach((element)=>{
          CommentInstance.push(element.cloneNode(true))
      })

      CommentInstance.forEach((element)=>{
        reply_form.appendChild(element)
      })
      var computedStyle = window.getComputedStyle(reply_form)
      if (computedStyle.display === 'none' ) {
        reply_form.style.display = "block"
      } else {
          reply_form.innerHTML = ''
        reply_form.style.display = "none"

      }
    }
    // HandleClose Reply form
    const handleCloseReply =(e)=>{
      const Post_Comment = e.parentNode.parentNode
      
      const reply_form = Post_Comment.querySelector('.reply-form')
      reply_form.style.display = "none"
    }
</script>
{%endblock%}
